
.setting-option {
    display: flex;
    align-items: center;
    justify-content: center;
}

.setting-option span, .buttons > *{
    padding: 8px 12px;
    margin: 0;
}

.setting-option span{
    background-color: #999;;
}

.setting-option *{
    margin: 0;
}

.option-title {
    margin-right: 10px;
}

.buttons {
    display: flex;
    align-items: center;
}

label {
    display: inline-block;
    background-color: #C45A5A;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="radio"] {
    display: none;
}

label:hover {
    background-color: #B44A4A;
}

input[type="radio"]:checked + label{
    background-color: #5AAF81;
}

input[type="radio"]:checked:hover + label{
    background-color: #4A9F71;
}
