
.setting-option {
    display: flex;
    align-items: center;
    justify-content: center;
}

.setting-option span, .buttons > *{
    padding: 8px 12px;
    margin: 0;
}

.setting-option .op{
    background-color: #999;
}

.setting-option *{
    margin: 0;
}

.option-title {
    margin-right: 10px;
}



.checkbox {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

input {
    display: none;
}

.slider {
    position: absolute;
    top: 0;
    height: 1em;
    width: 50px;
    background-color: #ddd; /* Background color of the slider */
    cursor: pointer;
}

.slider:before {
    position: absolute;
    content: '';
    height: 25px;
    width: 25px;
    size-adjust: auto;
    left: 3px;
    bottom: 3px;
    background-color: #f00; /* Color of the slider handle */
    border: solid 1px #aaa;
    transition: 0.4s; /* Smooth transition on change */
}

input:checked + .slider:before {
    transform: translateX(41px); /* Move the handle to the checked position */
    background-color: #0f0;
}