html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    width: 80%;
    text-align: justify;
    grid-column: 2;
}

#table-of-contents {
    width: max-content;
    position: fixed;
    grid-column: 1;
}

#table-of-contents h1 {
    text-align: center;
}

body {
    display: grid;
    grid-template-columns: 30% auto;
}