/* Default stuff */

*{
    color: #fff;
    font-family: "Dosis";
    text-decoration: none;
    scroll-behavior:smooth;
    font-size:large;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("images/UI/bg-menu.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100vw auto ;
}

a{
    font-size: 4rem;
    padding: 1rem;
}

/* Header */

header{
    width: 100%;
    line-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a:hover{
    cursor: pointer;
    color: skyblue;
}

.htp{
  background-color: #404e7c;
  border-radius: 6px;
  right: 10%;
}

.htp:hover{
  background-color: #323d61;
  color: #fff;
}

/* Login Button */
.login_btn {
  appearance: none;
  background-color: #6985e3;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  /* font-size: 2rem; */
  font-weight: 600;
  line-height: 20px;
  padding: 2rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.login_btn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.login_btn:hover {
  background-color: #4c62aa;
  color: #fff;
}

.login_btn:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.login_btn:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.login_btn:active {
  background-color: #2f3d6c;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* Play Buttons */

main{
  margin: 30%;
}

main form{
  margin-left: 20%;
}

form input{
  color: #000;
}

.play_btn{
  display: flex;
  margin: auto;
  width: 100%;
  align-items: center;
  justify-content:center;
}

.play_btn a{
  margin: 4%;
  padding: 2%;
  border-radius: 10px;
  background-color:#404e7c;
}

.play_btn a:hover{
  background-color:rgb(57, 107, 127);
}

input{
  background: transparent;
  border: none;
}

/* How to play */

td img{
  max-width: 100px;
  width: 3rem;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  background-color: rgba(80, 195, 226, 0.439);
  border: #000 solid;
  border-radius: 6px;
}

table {
  width: 80%;
  border-collapse:collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td, td img{
  padding: 10px;
  text-align: left;
  color: #000;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #333;
  color: white;
}

td b{
  color: #000;
}

#how-to-play{
  margin-left: 20%;
}

/* Login Form */

.form-box h1{
  text-align: center;
  margin-bottom: 40px;
}

.form-box{
  width: 500px;
  background: rgba(0, 0, 0, 0.7);
  margin: 12% auto;
  padding: 50px 0;
  color: #fff;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
}

.input-box{
  margin: 31px auto;
  width: 80%;
  border-bottom: 1px solid #fff;
  padding-top: 10px;
  padding-bottom: 5px;
}

.input-box input{
  width: 90%;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
}

.form-box button{
  color: #fff;
}

.login-btn{
  margin: 40px auto 20px;
  width: 80%;
  display: block;
  outline: none;
  padding: 10px 0;
  border: 1px solid #fff;
  cursor: pointer;
  /* background: rgb(88, 164, 194); */
  background: transparent;
  color:#fff;
  font-size: 16px;
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #151322;
}

::-webkit-scrollbar-thumb {
  background: #293259;
  border-radius: 10px;
}