/* Default Stuff */

:root{
    --placeHolderColor: #6e6e6e;
    --backgroundColor: #121212;
    --colorPalette1: #0A529A;
    --darkerColorPalette1: #073666;
    --colorPalette2: #86B5D7;
    --darkerColorPalette2: #668AA3;
    --colorPalette3: #DC931A;
    --darkerColorPalette3: #A86F14;
    --colorPalette4: #A2122A;
    --darkerColorPalette4: #6D0D1D;
    --loginButtonColor: #4CAF50;
    --darkerLoginButtonColor: #255f28;
    --buttonFont: PressStart;
    --titleFont: Origami;
    --normalTextFont: Senior;
}

*{
    font-family: var(--normalTextFont);
    color: #fff;
    background-color: var(--backgroundColor);
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

.main-menu, .host-menu, .instruction-menu{
    text-align: center;
    padding: 40px;
}

h1, h2, h3 {
    font-family: var(--titleFont);
}

h1 {
    font-size: 48px;
    margin: 4rem 0 20px;
    text-transform:uppercase;
}

/* Buttons */

.button-container {
    margin: 50px;
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.button, .button::before, .button::after{
    transition: background-color .2s;
}

.button {
    text-decoration: none;
    display: block;
    color: white;
    font-family: var(--buttonFont);
    
    font-size: 25px;
    padding: 30px;
    margin: 10px;
    
    text-transform: uppercase;
    height: auto;
    position: relative;
}

.button:active{
    top: 2px;
}

.button::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: -10px;
    right: -10px;
    z-index: -1;
}

.button{
    padding: 10px 10px;
    position: relative;
    width: auto;
    z-index: 2;
}

.button::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: -6px;
    right: -6px;
    z-index: -1;
}

.button:not(#login-button){
    margin-left: auto;
    margin-right: auto;
}

/* Main Host Button */

#host-btn::before, #host-btn, #host-btn::after {
    background-color: var(--colorPalette1);
}

#host-btn:hover::before, #host-btn:hover, #host-btn:hover::after {
    background-color: var(--darkerColorPalette1);
}

/* Main Join Button */

#join-btn::before, #join-btn, #join-btn:after {
    background-color: var(--colorPalette2);
}

#join-btn:hover::before, #join-btn:hover, #join-btn:hover::after {
    background-color: var(--darkerColorPalette2);
}

/* Main Instructions Button */

#instructions-btn::before, #instructions-btn, #instructions-btn::after {
    background-color: var(--colorPalette3);
}

#instructions-btn:hover::before, #instructions-btn:hover, #instructions-btn:hover::after {
    background-color: var(--darkerColorPalette3);
}

/* Main Options Button */

#options-btn::before, #options-btn, #options-btn::after {
    background-color: var(--colorPalette4);
}

#options-btn:hover::before, #options-btn:hover, #options-btn:hover::after {
    background-color: var(--darkerColorPalette4);
}





/* Login/Back Button */

#login-button {
    position: absolute;
    margin-top: 20px;
    right: 20px;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    font-family: PressStart;
}

#login-button::before, #login-button, #login-button::after{
    background-color: var(--loginButtonColor);
}

#login-button:hover::before, #login-button:hover, #login-button:hover::after {
    background-color: var(--darkerLoginButtonColor);
}





/* Login Form */

.login-container {
    top: 5rem;

    display: flex;
    position: relative;
    width: 320px;
    height: 360px;
    justify-content: center;
    margin: auto;
}

.login-container *{
    background-color: var(--colorPalette1);
}

.login-form{
    padding: 20px;
    border: solid #fff;
}

.login-container h1{
    margin: auto auto 1rem auto;
}

label {
    display: block;
}

.login-container input {
    width: fit-content;
    padding: 10px 0 10px 10px;
    border: solid;
    margin: 10px auto;
    background-color: transparent;
    outline: none;
    background-color: var(--backgroundColor);
}

form ul{
    display: inline;
}

.login-container input::placeholder{
    color: var(--placeHolderColor);
}

#submit-button::before, #submit-button, #submit-button::after{
    background-color: #DC931A;
    border: none;
}

#submit-button:hover::before, #submit-button:hover, #submit-button:hover::after{
    background-color: #A86F14;
}





/* Host Public Lobby Button */

#host-public-btn::before, #host-public-btn, #host-public-btn::after {
    background-color: var(--colorPalette1);
}

#host-public-btn:hover::before, #host-public-btn:hover, #host-public-btn:hover::after {
    background-color: var(--darkerColorPalette1);
}

/* Host Public Lobby Button */

#host-private-btn::before, #host-private-btn, #host-private-btn::after {
    background-color: var(--colorPalette4);
}

#host-private-btn:hover::before, #host-private-btn:hover, #host-private-btn:hover::after {
    background-color: var(--darkerColorPalette4);
}





/* Instructions */

#how-to-play {
    width: 80%;
    text-align: left;
    margin: 1rem 10%;
}

#how-to-play table li{
    line-height: 1.3rem;
}

#how-to-play table b{
    color: var(--colorPalette3);
}

#how-to-play table{
    min-width: 80%;
    border-collapse: collapse;
    font-size: smaller;
    text-align: left;
}

#how-to-play table td:nth-child(){
    margin: 10rem;
}

#how-to-play table th, #how-to-play table td{
  padding: 1rem;
  line-height: 1.3rem;
  text-shadow: #000 1px 1px;
}

#how-to-play table th{
    color: var(--colorPalette3);
    text-transform: uppercase;
}

#how-to-play table td img{
    image-rendering: pixelated;
    width: 5rem;
}

#how-to-play table tr:nth-child(even) *{
    background-color: #444;
}

#how-to-play table tr:nth-child(odd) *{
    background-color: #666;
}

/* Width Handler */

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    .button {
        font-size: 1rem;
    }

    .button:not(#login-button){
        width: 200px;
    }

    #login-button{
        width: 100px;;
    }
}

/* Imported Fonts */

@font-face {
    font-family: Origami;
    src: url("Fonts/origami.ttf");
}

@font-face {
    font-family: PressStart;
    src: url("Fonts/PressStart2P.ttf");
}

@font-face {
    font-family: Senior;
    src: url("Fonts/pcsenior.ttf");
}