:root{
    --placeHolderColor: #6e6e6e;
    --backgroundColor: #121212;
    --colorPalette1: #0A529A;
    --darkerColorPalette1: #073666;
    --colorPalette2: #86B5D7;
    --darkerColorPalette2: #668AA3;
    --colorPalette3: #DC931A;
    --darkerColorPalette3: #A86F14;
    --colorPalette4: #A2122A;
    --darkerColorPalette4: #6D0D1D;
    --loginButtonColor: #4CAF50;
    --darkerLoginButtonColor: #255f28;
    --buttonFont: PressStart;
    --titleFont: Origami;
    --normalTextFont: Senior;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
    font-family: var(--normalTextFont);
    position: relative;
    color: #fff;
}

.main-menu {
    text-align: center;
    color: #fff;
    padding: 40px;
}

h1, h2, h3 {
    font-family: var(--titleFont);
}

h1 {
    font-size: 48px;
    margin: 4rem 0 20px;
    color: #fff;
    text-transform:uppercase;
}

.button-container {
    margin: 50px;
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.button {
    text-decoration: none;
    display: block;
    color: white;
    font-family: var(--buttonFont);
    
    font-size: 25px;
    padding: 30px;
    margin: 10px;
    
    text-transform: uppercase;
    height: auto;
    position: relative;
}

.button:active{
    top: 2px;
}

.button::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: -10px;
    right: -10px;
    background: black;
    z-index: -1;
}

.button::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: -6px;
    right: -6px;
    z-index: -1;
}

.button{
    padding: 10px 10px;
    position: relative;
    width: auto;
    z-index: 2;
}

.button:not(#login-button){
    margin-left: auto;
    margin-right: auto;
}

/* Host Button */

#host-btn::before, #host-btn, #host-btn::after {
    background-color: var(--colorPalette1);
}

#host-btn:hover::before, #host-btn:hover, #host-btn:hover::after {
    background-color: var(--darkerColorPalette1);
}

/* Join Button */

#join-btn::before, #join-btn, #join-btn:after {
    background-color: var(--colorPalette2);
}

#join-btn:hover::before, #join-btn:hover, #join-btn:hover::after {
    background-color: var(--darkerColorPalette2);
}

/* Instructions Button */

#instructions-btn::before, #instructions-btn, #instructions-btn::after {
    background-color: var(--colorPalette3);
}

#instructions-btn:hover::before, #instructions-btn:hover, #instructions-btn:hover::after {
    background-color: var(--darkerColorPalette3);
}

/* Options Button */

#options-btn::before, #options-btn, #options-btn::after {
    background-color: var(--colorPalette4);
}

#options-btn:hover::before, #options-btn:hover, #options-btn:hover::after {
    background-color: var(--darkerColorPalette4);
}

/* Login Button */

#login-button {
    position: absolute;
    margin-top: 20px;
    right: 20px;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    font-family: PressStart;
}

#login-button::before, #login-button, #login-button::after{
    background-color: var(--loginButtonColor);
}

#login-button:hover::before, #login-button:hover, #login-button:hover::after {
    background-color: var(--darkerLoginButtonColor);
}

/* Form */

.login-container {
    top: 5rem;

    display: flex;
    position: relative;
    width: 320px;
    height: 360px;
    justify-content: center;
    margin: auto;
}

.login-form{
    background-color: var(--colorPalette1);
    padding: 20px;
    border: solid #fff;
    /* border-radius: 4px; */
}

.login-container h1{
    margin: auto auto 1rem auto;
}

label {
    display: block;
    color: #fff;
}

input {
    width: fit-content;
    padding: 10px 0 10px 10px;
    border: solid;
    margin: 10px auto;
    background-color: transparent;
    color: #fff;
    background-color: var(--backgroundColor);
    /* border-radius: 4px; */
    outline: none;
    font-family: var(--normalTextFont);
}

form ul{
    display: inline;
}

::placeholder{
    color: var(--placeHolderColor);
}

#submit-button::before, #submit-button, #submit-button::after{
    background-color: #DC931A;
    border: none;
}

#submit-button:hover::before, #submit-button:hover, #submit-button:hover::after{
    background-color: #A86F14;
}

/* Instructions */

#how-to-play p, #how-to-play ol{
    width: 85%;
    margin: 1rem auto;
}

#how-to-play li{
    margin: 0.5rem auto;
}

#how-to-play b{
    color: var(--colorPalette3);
}

table{
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    font-family: var(--normalTextFont);
    font-size: smaller;
    text-align: center;
    left: 1rem;
}


th, td{
  padding: 10px;
  text-shadow: #000 1px 1px;
}

th{
    color: var(--colorPalette3);
    text-transform: uppercase;
}
  

tr:nth-child(even){
    background-color: #444;
}

tr:nth-child(odd){
    background-color: #666;
}

/* Width Handler */

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    .button {
        font-size: 1rem;
    }

    .button:not(#login-button){
        width: 200px;
    }

    #login-button{
        width: 100px;;
    }
}

/* Imported Fonts */

@font-face {
    font-family: Origami;
    src: url("Fonts/origami.ttf");
}

@font-face {
    font-family: PressStart;
    src: url("Fonts/PressStart2P.ttf");
}

@font-face {
    font-family: Senior;
    src: url("Fonts/pcsenior.ttf");
}